{% load static %}
<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		
         	</div>
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">&copy; {% now 'Y' %} Roxy. Design by <a href="https://gettemplates.co" target="_blank">GetTemplates</a>.</p>
         	</div>
           
            <div class="col-lg-4 col-md-12">
            	<nav class="nav nav-mastfoot justify-content-center">
	                <a class="nav-link" href="https://github.com/Townsend0">
	                	<i class="fab fa-github"></i>
	                </a>
	                <a class="nav-link" href="https://www.linkedin.com/in/obada-albalkhi-a6579b259/">
	                	<i class="fab fa-linkedin"></i>
	                </a>
	            </nav>
            </div>
            
        </div>
    </div>
</footer>	</div>
	
</div>
	<!-- External JS -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'vendor/stellar/jquery.stellar.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
	<script src="{% static 'vendor/lightcase/lightcase.js' %}"></script>
	<script src="{% static 'vendor/waypoints/waypoint.min.js' %}"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="{% static 'js/app.min.js' %}"></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>