{% load static %}
<!doctype html>
<html lang="en">
    {% include 'header.html' %}
    
    <body id="top">

        <main>

            {% include 'navbar.html' %}
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Discover. Learn. Enjoy</h1>

                            <h6 class="text-center">platform for creatives around the world</h6>

                            <form method="post" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                                {% csrf_token %}
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text bi-search" id="basic-addon1"></span>
                                    {{ form.search }}
                                    <button type="submit" class="form-control">Search</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>

            
            <section class="featured-section">
                <div class="container">
                    <div class="row justify-content-center">
                        {% if results %}
                            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="{% url 'detail' card_id=design.0.id %}">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">{{ results.0.title }}</h5>

                                                <p class="mb-0">{{ results.0.subtitle }}</p>
                                            </div>

                                            <span class="badge bg-{{ results.0.page.tag }} rounded-pill ms-auto">{{ results.0.number }}</span>
                                        </div>

                                        <img src="{% static 'images/' %}{{ results.0.page.img }}" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        {% else %}
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: white;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if design.0 %}
                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block bg-white shadow-lg">
                                <a href="{% url 'detail' card_id=design.0.id %}">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">{{ design.0.title }}</h5>

                                            <p class="mb-0">{{ design.0.subtitle }}</p>
                                        </div>

                                        <span class="badge bg-{{ design.0.page.tag }} rounded-pill ms-auto">{{ design.0.number }}</span>
                                    </div>

                                    <img src="{% static 'images/' %}{{ design.0.page.img }}" class="custom-block-image img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if finance.1 %}
                        <div class="col-lg-6 col-12">
                            <div class="custom-block custom-block-overlay">
                                <div class="d-flex flex-column h-100">
                                    <img src="{% static 'images/' %}{{ finance.1.page.img }}" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">{{ finance.1.title }}</h5>

                                            <p class="text-white">{{ finance.1.subtitle }}</p>

                                            <a href="{% url 'detail' card_id=finance.1.id %}" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                        </div>

                                        <span class="badge bg-{{ finance.1.page.tag }} rounded-pill ms-auto">{{ finance.1.number }}</span>
                                    </div>

                                    <div class="social-share d-flex">
                                        <p class="text-white me-4">Share:</p>

                                        <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="https://github.com/Townsend0" class="social-icon-link bi-github"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.linkedin.com/in/obada-albalkhi-a6579b259/" class="social-icon-link bi-linkedin"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="https://www.instagram.com/?next=%2F" class="social-icon-link bi-instagram"></a>
                                            </li>
                                        </ul>

                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                    </div>

                                    <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </section>


            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-4">Browse Topics</h1>
                        </div>

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <form method="post">
                            {% csrf_token %}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Design</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Marketing</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Finance</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Music</button>
                                </li>
                                
                                <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Education</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        
                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        {% if design.0 %}
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=design.0.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ design.0.title }}</h5>

                                                            <p class="mb-0">{{ design.0.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ design.0.page.tag }} rounded-pill ms-auto">{{ design.0.number }}</span>
                                                    </div>
                                                    <img src="{% static 'images/' %}{{ design.0.page.img }}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
										{% endif %}
                                        {% if design.1 %}

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=design.1.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ design.1.title }}</h5>

                                                                <p class="mb-0">{{ design.1.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ design.1.page.tag }} rounded-pill ms-auto">{{ design.1.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ design.1.page.img }}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
										{% endif %}
                                        {% if design.2 %}

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=design.2.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ design.2.title }}</h5>

                                                                <p class="mb-0">{{ design.2.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ design.2.page.tag }} rounded-pill ms-auto">{{ design.2.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ design.2.page.img }}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
										{% endif %}
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                                    <div class="row">
										{% if marketing.0 %}
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="{% url 'detail' card_id=marketing.0.id %}">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">{{ marketing.0.title }}</h5>

                                                                <p class="mb-0">{{ marketing.0.subtitle }}</p>
                                                            </div>

                                                            <span class="badge bg-{{ marketing.0.page.tag }} rounded-pill ms-auto">{{ marketing.0.number }}</span>
                                                        </div>    

                                                        <img src="{% static 'images/' %}{{ marketing.0.page.img }}" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
											{% endif %}
											{% if marketing.1 %}

                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="{% url 'detail' card_id=marketing.1.id %}">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">{{ marketing.1.title }}</h5>

                                                                <p class="mb-0">{{ marketing.1.subtitle }}</p>
                                                            </div>

                                                            <span class="badge bg-{{ marketing.1.page.tag }} rounded-pill ms-auto">{{ marketing.1.number }}</span>
                                                        </div>

                                                        <img src="{% static 'images/' %}{{ marketing.1.page.img }}" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
											{% endif %}
											{% if marketing.2 %}

                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="{% url 'detail' card_id=marketing.2.id %}">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">{{ marketing.2.title }}</h5>

                                                                <p class="mb-0">{{ marketing.2.subtitle }}</p>
                                                            </div>

                                                            <span class="badge bg-{{ marketing.2.page.tag }} rounded-pill ms-auto">{{ marketing.2.number }}</span>
                                                        </div>

                                                        <img src="{% static 'images/' %}{{ marketing.2.page.img }}" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
											{% endif %}
                                        </div>
                                  </div>

                                <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                     {% if finance.0 %}   
									<div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=finance.0.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ finance.0.title }}</h5>

                                                            <p class="mb-0">{{ finance.0.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ finance.0.page.tag }} rounded-pill ms-auto">{{ finance.0.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ finance.0.page.img }}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
										{% endif %}
										{% if finance.1 %}
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block custom-block-overlay">
                                                <div class="d-flex flex-column h-100">
                                                    <img src="{% static 'images/' %}{{ finance.1.page.img }}" class="custom-block-image img-fluid" alt="">

                                                    <div class="custom-block-overlay-text d-flex">
                                                        <div>
                                                            <h5 class="text-white mb-2">{{ finance.1.title }}</h5>

                                                            <p class="text-white">{{ finance.1.subtitle }}</p>

                                                            <a href="{% url 'detail' card_id=finance.1.page.id %}" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                                        </div>

                                                        <span class="badge bg-{{ finance.1.page.tag }} rounded-pill ms-auto">{{ finance.1.number}}</span>
                                                    </div>

                                                    <div class="social-share d-flex">
                                                        <p class="text-white me-4">Share:</p>

                                                        <ul class="social-icon">
                                                            <li class="social-icon-item">
                                                                <a href="https://www.instagram.com/iajxm/" class="social-icon-link bi-instagram"></a>
                                                            </li>

                                                            <li class="social-icon-item">
                                                                <a href="https://github.com/Townsend0" class="social-icon-link bi-github"></a>
                                                            </li>

                                                            <li class="social-icon-item">
                                                                <a href="https://www.linkedin.com/in/obada-albalkhi-a6579b259/" class="social-icon-link bi-linkedin"></a>
                                                            </li>
                                                        </ul>

                                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                                    </div>

                                                    <div class="section-overlay"></div>
                                                </div>
                                            </div>
                                        </div>
										{% endif %}
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                                    <div class="row">
										{% if music.0 %}
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=music.0.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ music.0.title }}</h5>

                                                            <p class="mb-0">{{ music.0.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ music.0.page.tag }} rounded-pill ms-auto">{{ music.0.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ music.0.page.img }}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
										{% endif %}
										{% if music.1 %}
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=music.1.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ music.1.title }}</h5>

                                                            <p class="mb-0">{{ music.1.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ music.1.page.tag }} rounded-pill ms-auto">{{ music.1.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ music.1.page.img }}" class="custom-block-image img-fluid" alt="">

                                                </a>
                                            </div>
                                        </div>
										{% endif %}
										{% if music.2 %}
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=music.2.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ music.2.title }}</h5>

                                                            <p class="mb-0">{{ music.2.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ music.2.page.tag }} rounded-pill ms-auto">{{ music.2.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ music.2.page.img }}" class="custom-block-image img-fluid" alt="">

                                                </a>
                                            </div>
                                        </div>
										{% endif %}
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                                    <div class="row">
										{% if education.0 %}
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=education.0.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ education.0.title }}</h5>

                                                            <p class="mb-0">{{ education.0.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ education.0.page.tag }} rounded-pill ms-auto">{{ education.0.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ education.0.page.img }}" class="custom-block-image img-fluid" alt="">

                                                </a>
                                            </div>
                                        </div>
										{% endif %}
										{% if education.1 %}

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'detail' card_id=education.1.id %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">{{ education.1.title }}</h5>

                                                            <p class="mb-0">{{ education.1.subtitle }}</p>
                                                        </div>

                                                        <span class="badge bg-{{ education.1.page.tag }} rounded-pill ms-auto">{{ education.1.number }}</span>
                                                    </div>

                                                    <img src="{% static 'images/' %}{{ education.1.page.img }}" class="custom-block-image img-fluid" alt="">

                                                </a>
                                            </div>
                                        </div>
										{% endif %}
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>


            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">How does it work?</h1>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Search your favourite topic</h4>

                                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias illum sed esse ad dignissimos libero sunt, quisquam numquam aliquam? Voluptas, accusamus omnis?</p>

                                        <div class="icon-holder">
                                          <i class="bi-search"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Bookmark &amp; Keep it for yourself</h4>

                                        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint animi necessitatibus aperiam repudiandae nam omnis est vel quo, nihil repellat quia velit error modi earum similique odit labore. Doloremque, repudiandae?</p>

                                        <div class="icon-holder">
                                          <i class="bi-bookmark"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Read &amp; Enjoy</h4>

                                        <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi vero quisquam, rem assumenda similique voluptas distinctio, iste est hic eveniet debitis ut ducimus beatae id? Quam culpa deleniti officiis autem?</p>

                                        <div class="icon-holder">
                                          <i class="bi-book"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-5">
                            <p class="text-white">
                                Want to learn more?
                                <a href="https://www.youtube.com/channel/UCkH7e6kWQsdv4BQMMy4PaFQ" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Frequently Asked Questions</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="{% static 'images/faq_graphic.jpg' %}" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Topic Listing?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Topic Listing is free Bootstrap 5 CSS template. <strong>You are not allowed to redistribute this template</strong> on any other template collection website without our permission. Please contact TemplateMo for more detail. Thank you.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How to find a topic?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can search on Google with <strong>keywords</strong> such as templatemo portfolio, templatemo one-page layouts, photography, digital marketing, etc.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Does it need to paid?
                                    </button>
                                    </h2>

                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="contact-section section-padding section-bg" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Get in touch</h2>
                        </div>

                        <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                            <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.065641062665!2d-122.4230416990949!3d37.80335401520422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858127459fabad%3A0x808ba520e5e9edb7!2sFrancisco%20Park!5e1!3m2!1sen!2sth!4v1684340239744!5m2!1sen!2sth" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                            <h4 class="mb-3">Head office</h4>

                            <p>Bay St &amp;, Larkin St, San Francisco, CA 94109, United States</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Phone</span>

                                <a href="tel: +905528607650" class="site-footer-link">
                                    +90 552 860 76 50
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="mailto:obadah2109@gmail.com" class="site-footer-link">
                                    obadah2109@gmail.com
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mx-auto">
                            <h4 class="mb-3">Dubai office</h4>

                            <p>Burj Park, Downtown Dubai, United Arab Emirates</p>

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Phone</span>

                                <a href="tel: +905528607650" class="site-footer-link">
                                    +90 552 860 76 50
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="mailto:obadah2109@gmail.com" class="site-footer-link">
                                    obadah2109@gmail.com
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </section>
        </main>

{% include 'footer.html' %}

    </body>
</html>
