<!DOCTYPE html>
{% load static %}
<html lang="en">
  {% include 'header.html' %}

  <body class="topics-listing-page" id="top">
    <main>
      {% include 'navbar.html' %}

      <header
        class="site-header d-flex flex-column justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Homepage</a>
                  </li>

                  <li class="breadcrumb-item active" aria-current="page">
                    Topics Listing
                  </li>
                </ol>
              </nav>

              <h2 class="text-white">Topics Listing</h2>
            </div>
          </div>
        </div>
      </header>

      <section class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12 text-center">
              <h3 class="mb-4">Popular Topics</h3>
            </div>
            <div class="col-lg-8 col-12 mt-3 mx-auto">
            {% for card in cards %}
              <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                <div class="d-flex">
                  <img src="{% static 'images/' %}{{ card.page.img }}" class="custom-block-image img-fluid" alt=""/>

                  <div class="custom-block-topics-listing-info d-flex">
                    <div>
                      <h5 class="mb-2">{{ card.title }}</h5>

                      <p class="mb-0">{{ card.subtitle }}</p>

                      <a href="{% url 'detail' card_id=card.id %}"class="btn custom-btn mt-3 mt-lg-4">Learn More</a>
                    </div>

                    <span class="badge bg-{{ card.0.page.tag }} rounded-pill ms-auto">{{ card.0.number }}</span>
                  </div>
                </div>
              </div>
              {% endfor %}
              
            <div class="col-lg-12 col-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mb-0">
                  <li class="page-item">
                  {% if cards.has_previous %}
                    <a class="page-link" href="?page={{ cards.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">Prev</span>
                    </a>
                  {% endif %}
                  </li>

                  {% for num in cards.paginator.page_range %}
                    {% if num == cards.number %}
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="">{{ num }}</a>
                      </li>
                      <li class="page-item">
                    {% else %}
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {% if cards.has_next %}
                  
                  <li class="page-item">
                    <a class="page-link" href="?page={{ cards.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">Next</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <section class="section-padding section-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12">
              <h3 class="mb-4">Trending Topics</h3>
            </div>
            {% if cards.0 %}
            <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
              <div class="custom-block bg-white shadow-lg">
                <a href="{% url 'detail' card_id=cards.0.id %}">
                  <div class="d-flex">
                    <div>
                      <h5 class="mb-2">{{ cards.0.title }}</h5>

                      <p class="mb-0">{{ cards.0.subtitle }}</p>
                    </div>

                    <span class="badge bg-finance rounded-pill ms-auto">{{ cards.0.number }}</span>
                  </div>

                  <img src="{% static 'images/' %}{{ cards.0.page.img }}" class="custom-block-image img-fluid" alt=""/>
                </a>
              </div>
            </div>
            {% endif %}
            {% if cards.1 %}
            <div class="col-lg-6 col-md-6 col-12 mt-lg-3">
              <div class="custom-block custom-block-overlay">
                <div class="d-flex flex-column h-100">
                  <img src="{% static 'images/' %}{{ cards.1.page.img }}" class="custom-block-image img-fluid" alt=""/>

                  <div class="custom-block-overlay-text d-flex">
                    <div>
                      <h5 class="text-white mb-2">{{ cards.1.title }}</h5>

                      <p class="text-white">{{ cards.1.subtitle }}</p>

                      <a href="{% url 'detail' card_id=cards.1.id %}" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                    </div>

                    <span class="badge bg-{{ cards.1.page.tag }} rounded-pill ms-auto">25</span>
                  </div>

                  <div class="social-share d-flex">
                    <p class="text-white me-4">Share:</p>

                    <ul class="social-icon">
                      <li class="social-icon-item">
                        <a href="https://github.com/Townsend0" class="social-icon-link bi-github"></a>
                      </li>

                      <li class="social-icon-item">
                        <a href="https://www.linkedin.com/in/obada-albalkhi-a6579b259/" class="social-icon-link bi-linkedin"></a>
                      </li>

                      <li class="social-icon-item">
                        <a href="https://www.instagram.com/iajxm/?next=%2F" class="social-icon-link bi-instagram"></a>
                      </li>
                    </ul>

                    <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                  </div>

                  <div class="section-overlay"></div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </section>
    </main>

    {% include 'footer.html' %}
  </body>
</html>
